In [15]:
import pandas as pd
import numpy as np
import re

# Have a look at the two datasets

In this stage, we use some predictors from sweep0-3 and sweep5.

In [16]:
sweep5 = pd.read_csv("ncds_sweep5/tab/ncds5cmi.tab",delimiter="\t",low_memory=False)
sweep5.head(10)

,ncdsid,person,n622_5,n5region,n5gor,resp5cmi,resp5wyt,resp5cl,n500518,n500520,...,child,marchild,hqual33,hqual23,verbal,constrct,keyboard,caring,organise,tenure91
0,N10001N,1,2,6,9,1,1,1,0,2,...,1,2,2,2,3.5,3,3,2.66666666666667,3.4,2
1,N10002P,1,1,5,8,1,1,1,0,1,...,2,5,4,4,4,4,4,3.66666666666667,3.8,2
2,N10004R,1,2,1,2,1,1,1,0,5,...,1,2,2,2,4,3.33333333333333,1.5,3.33333333333333,3.4,3
3,N10007U,1,2,6,9,1,1,1,0,1,...,2,6,3,3,3,3,3.5,3,2.8,2
4,N10009W,1,1,5,7,1,1,1,0,1,...,2,7,2,-1,4,4,3,3.66666666666667,2.2,99
5,N10011Q,1,1,7,5,1,1,1,0,1,...,1,3,3,3,3.5,3.33333333333333,4,3.33333333333333,3.4,3
6,N10012R,1,1,6,9,1,1,1,0,3,...,1,1,4,0,3.5,4,1,3.33333333333333,,4
7,N10013S,1,1,3,4,1,1,1,0,1,...,1,1,1,1,3.5,3.33333333333333,4,4,3.6,2
8,N10015U,1,1,1,1,1,0,0,0,1,...,1,1,1,1,,,,,,2
9,N10016V,1,2,4,6,1,1,1,0,2,...,1,2,1,1,3.5,3.33333333333333,3,3.33333333333333,3.4,2

In [17]:
sweep5.shape

(11469, 3189)

In [18]:
sweep0_3 = pd.read_csv("ncds_sweep0-3/tab/ncds0123.tab",delimiter="\t",low_memory=False)
sweep0_3.head(10)

,ncdsid,n622,n0region,n1region,n2region,n3region,n553,n545,n520,n490,...,n1849,dvht07,dvht11,dvht16,dvrwt07,dvrwt11,dvrwt16,dvwt07,dvwt11,dvwt16
0,N10001N,2,9,9,9,9,23,4,2,12,...,-1,1.21899986267032,1.47299957275415,1.59999942779607,110.347991943347,98.1929931640604,105.055999755876,25.8549957275385,37.6489868164152,56.0199890136717
1,N10002P,1,9,8,8,8,34,4,5,1,...,-1,1.34599971771224,-1,-1,90.865997314449,-1,-1,26.3089904785155,-1,-1
2,N10003Q,1,4,4,4,4,34,4,10,1,...,-1,1.32099914550831,1.49899959564243,1.87999916076665,87.9599914550983,96.4049987792867,89.382995605487,24.4939880371087,38.1019897460905,66.6799926757659
3,N10004R,2,1,1,1,1,26,4,11,1,...,-1,1.29499912262003,1.51099967956562,1.62999916076665,105.16198730471,111.588989257796,132.054992675766,28.122985839843,45.8139953613169,72.7999877929584
4,N10005S,2,10,10,10,10,25,4,1,3,...,-1,1.34599971771224,-1,-1,129.382995605487,-1,-1,37.6489868164152,-1,-1
5,N10006T,1,7,4,7,7,23,4,9,1,...,,1.21899986267032,1.40999984741198,-1,96.2529907226337,94.2619934081847,-1,22.6799926757811,31.7519989013717,-1
6,N10007U,2,-2,-1,-1,2,,,,,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,N10008V,1,10,-1,10,10,21,4,10,3,...,-1,-1,1.26999950408932,1.59999942779607,-1,104.393997192364,91.8689880371285,-1,26.761993408203,45.8099975585734
8,N10009W,1,-2,7,7,-1,,,,,...,,1.19399929046639,1.37799930572474,-1,-1,82.9279937743942,-1,-1,26.3089904785155,-1
9,N10010P,2,7,7,7,7,26,4,1,1,...,-1,1.26999950408932,1.57499980926536,-1,-1,118.603988647462,-1,-1,54.4319915771376,-1

In [19]:
sweep0_3.shape

(18558, 1765)

# Sweep 0_3 wrangling

Test a method to filter out the variables.

In [7]:
a = pd.DataFrame({"1P abc": [1,2,3], "1PM abc":[4,5,6]})
a

   1P abc  1PM abc
0       1        4
1       2        5
2       3        6

In [8]:
#check whether the variable name contains 1P, if not, drop the column
def drop_column(df, names):
    
    columns = df.columns.values
    for column in columns:
        if column.split()[0] in names:
            continue
        else:
            df.drop(column,1,inplace = True)  
    return df

drop_column(a,["1PM"])

   1PM abc
0        4
1        5
2        6

# Sweep 5 wrangling

In the following steps, I will filter out the health variables from sweep 5

In [9]:
var = pd.read_csv("ncds_sweep5/tab/health_var.txt", delimiter="\t",names=["label","others"])
var.head()

     label                                             others
0  N504147   CMI:83 F34 Any accident/assault since March 1981
1  N504148  CMI:83 F35 No. of accidents/assaults since Mar...
2  N504150      CMI:83 F36b) ACCIDENT/ASSAULT 1: Age occurred
3  N504152     CMI:83 F36c) ACCIDENT/ASSAULT 1: Incident type
4  N504153  CMI:83 F36d) ACCIDENT/ASSAULT 1: Admitted/outp...

In [10]:
#get list of health variables and predictors
var_health = [x.lower() for x in var["label"].values]
var_health.insert(0, "ncdsid")
print var_health[:3]

['ncdsid', 'n504147', 'n504148']

Nice!! Then I can get a new dataframe only with these variables. For example:

In [11]:
sweep5[var_health].head()

,ncdsid,n504147,n504148,n504150,n504152,n504153,n504154,n504156,n504157,n504158,...,n504475,n504476,n504513,n504514,n504515,n504516,n504517,n504518,n504519,n504520
0,N10001N,2,,,,,,,,,...,,,1,2,,,,,,
1,N10002P,2,,,,,,,,,...,,,1,2,,,,,,
2,N10004R,2,,,,,,,,,...,,,1,2,,,,,,
3,N10007U,2,,,,,,,,,...,,,1,2,,,,,,
4,N10009W,2,,,,,,,,,...,,,1,2,,,,,,

# Merge them and set x and y

Now we can work on the whole dataset! Merge sweep 0-3 and sweep 5!

In [20]:
def get_labels(path,flag):

    # open explain file
    explain = open(path, 'r')

    # read the whole file as a single giant string
    explain_text = explain.read()

    # locate variable target string in the whole file
    target_string_var = 'Variable label ='
    target_loc_var = [m.end() for m in re.finditer(target_string_var, explain_text)]
    var_name_list = []
    # locate type target string in the whole file
    target_string_type = 'the SPSS measurement level is'
    target_loc_type = [m.end() for m in re.finditer(target_string_type, explain_text)]
    type_list = ["Categorical" for i in target_loc_var]

    #Find Numeric or Categorical
    for index, loc in enumerate(target_loc_type):
        # get feature character
        char = explain_text[loc+10]
        if char == "S" or char == "s":
            # it is SPSS data type ORDINAL or NOMINAL
            # it is categorical data
            type_list[index] = "Numeric"

            
    #Find variable label
    if flag == 0:
        for loc in target_loc_var:
            start_point = loc+11
            end_point = explain_text.find('\\\n', loc)
            var_name_list.append(explain_text[start_point:end_point])
    elif flag ==1:
        for loc in target_loc_var:
            start_point = loc+8
            end_point = explain_text.find('\par', loc)
            var_name_list.append(explain_text[start_point:end_point])
        
    explain.close()   
    return var_name_list, type_list

In [21]:
# file path of explain file
sweep5_path = 'ncds_sweep5/mrdoc/allissue/ncds5cmi_ukda_data_dictionary.rtf'
sweep0_3_path = 'ncds_sweep0-3/mrdoc/allissue/ncds0123_ukda_data_dictionary.rtf'
sweep0_3_labels, sweep0_3_type = get_labels(sweep0_3_path,1)
sweep5_labels, sweep5_type  = get_labels(sweep5_path,0)
print len(sweep0_3_labels), len(sweep5_labels)

1765 3189

Finally! We have everything we need to merge the two datasets!

In [15]:
#filter sweep0-3
sweep0_3.columns = sweep0_3_labels
sweep0_3.head()

,ncdsid serial number,0-3D Sex of child,Region at PMS (1958) - Birth,Region at NCDS1 (1965) - 7 years,Region at NCDS2 (1969) - 11 years,Region at NCDS3 (1974) - 16 years,"0 Mother's age last birthday,in years",0 Mother's present marital status,0 Interval between marriage & 1st birth,0 Socio-economic group mother's husband (GRO 1951),...,3D Losses at NCDS3,1D Height in metres at 7 years,2D Height in metres at 11 years,3D Height in metres at 16 years,1D Relative weight at 7 years,2D Relative weight at 11 years,3D Relative weight at 16 years,1D Weight in Kg. at 7 years,2D Weight in Kg. at 11 years,3D Weight in Kg. at 16 years
0,N10001N,2,9,9,9,9,23,4,2,12,...,-1,1.21899986267032,1.47299957275415,1.59999942779607,110.347991943347,98.1929931640604,105.055999755876,25.8549957275385,37.6489868164152,56.0199890136717
1,N10002P,1,9,8,8,8,34,4,5,1,...,-1,1.34599971771224,-1,-1,90.865997314449,-1,-1,26.3089904785155,-1,-1
2,N10003Q,1,4,4,4,4,34,4,10,1,...,-1,1.32099914550831,1.49899959564243,1.87999916076665,87.9599914550983,96.4049987792867,89.382995605487,24.4939880371087,38.1019897460905,66.6799926757659
3,N10004R,2,1,1,1,1,26,4,11,1,...,-1,1.29499912262003,1.51099967956562,1.62999916076665,105.16198730471,111.588989257796,132.054992675766,28.122985839843,45.8139953613169,72.7999877929584
4,N10005S,2,10,10,10,10,25,4,1,3,...,-1,1.34599971771224,-1,-1,129.382995605487,-1,-1,37.6489868164152,-1,-1

In [16]:
sweep0_3_filtered = drop_column(sweep0_3, ["ncdsid","1P","1PD","1M","1D","2M","2P","3P","3M"])
sweep0_3_filtered.head(10)

,ncdsid serial number,1P Child 8 years-old at NCDS1 Parental,1P Family moves since child's birth,1P Moves out of local area,1P Informant's relationship to child,"1P No. kids undr 21 hhld,inc liv away",1P Number of people in the household,"1P Child's posn hhld ,inc those away",1P Relationship person acting as mother,1P Relationship person acting as father,...,3M R ear-hearing loss at 8000 CPS x 5dB,3M L ear-hearing loss at 250 CPS x 5dB,3M L ear-hearing loss at 500 CPS x 5dB,3M L ear-hearing loss at 1000 CPS x 5dB,3M L ear-hearing loss at 2000 CPS x 5dB,3M L ear-hearing loss at 4000 CPS x 5dB,3M L ear-hearing loss at 8000 CPS x 5dB,1D Height in metres at 7 years,1D Relative weight at 7 years,1D Weight in Kg. at 7 years
0,N10001N,-1,1,3,1,3,5,1,2,2,...,0,0,0,0,0,0,0,1.21899986267032,110.347991943347,25.8549957275385
1,N10002P,-1,3,2,1,2,4,2,2,2,...,-1,-1,-1,-1,-1,-1,-1,1.34599971771224,90.865997314449,26.3089904785155
2,N10003Q,-1,0,1,1,8,8,7,2,2,...,-1,-1,-1,-1,-1,-1,-1,1.32099914550831,87.9599914550983,24.4939880371087
3,N10004R,-1,3,3,1,2,4,2,2,2,...,20,20,20,20,20,20,20,1.29499912262003,105.16198730471,28.122985839843
4,N10005S,-1,2,3,1,2,4,2,2,2,...,-1,-1,-1,-1,-1,-1,-1,1.34599971771224,129.382995605487,37.6489868164152

**Note** Missing values are left as " ", replace them with NaN!

In [36]:
sweep0_3_filtered.replace(" ",np.nan,inplace=True)

In [37]:
sweep0_3_filtered.head(10)

,ncdsid serial number,1P Child 8 years-old at NCDS1 Parental,1P Family moves since child's birth,1P Moves out of local area,1P Informant's relationship to child,"1P No. kids undr 21 hhld,inc liv away",1P Number of people in the household,"1P Child's posn hhld ,inc those away",1P Relationship person acting as mother,1P Relationship person acting as father,...,3M R ear-hearing loss at 8000 CPS x 5dB,3M L ear-hearing loss at 250 CPS x 5dB,3M L ear-hearing loss at 500 CPS x 5dB,3M L ear-hearing loss at 1000 CPS x 5dB,3M L ear-hearing loss at 2000 CPS x 5dB,3M L ear-hearing loss at 4000 CPS x 5dB,3M L ear-hearing loss at 8000 CPS x 5dB,1D Height in metres at 7 years,1D Relative weight at 7 years,1D Weight in Kg. at 7 years
0,N10001N,-1,1,3,1,3,5,1,2,2,...,0,0,0,0,0,0,0,1.21899986267032,110.347991943347,25.8549957275385
1,N10002P,-1,3,2,1,2,4,2,2,2,...,-1,-1,-1,-1,-1,-1,-1,1.34599971771224,90.865997314449,26.3089904785155
2,N10003Q,-1,0,1,1,8,8,7,2,2,...,-1,-1,-1,-1,-1,-1,-1,1.32099914550831,87.9599914550983,24.4939880371087
3,N10004R,-1,3,3,1,2,4,2,2,2,...,20,20,20,20,20,20,20,1.29499912262003,105.16198730471,28.122985839843
4,N10005S,-1,2,3,1,2,4,2,2,2,...,-1,-1,-1,-1,-1,-1,-1,1.34599971771224,129.382995605487,37.6489868164152
5,N10006T,-1,1,2,1,2,4,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.21899986267032,96.2529907226337,22.6799926757811
6,N10007U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,N10008V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10,30,25,20,15,15,10,-1,-1,-1
8,N10009W,-1,12,2,2,2,4,1,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.19399929046639,-1,-1
9,N10010P,-1,4,2,1,2,5,2,2,2,...,-1,-1,-1,-1,-1,-1,-1,1.26999950408932,-1,-1

In [17]:
#filter sweep5
sweep5.loc[-1] = sweep5_labels # adding a row
#sweep5.loc[-1] = sweep5_type
sweep5.index = sweep5.index + 1  # shifting index
sweep5 = sweep5.sort_index()
print sweep5.shape
sweep5.head()

(11470, 3189)

,ncdsid,person,n622_5,n5region,n5gor,resp5cmi,resp5wyt,resp5cl,n500518,n500520,...,child,marchild,hqual33,hqual23,verbal,constrct,keyboard,caring,organise,tenure91
0,ncdsid serial number,PERSON NUMBER,Sex of Cohort Member,Standard region at NCDS5,NCDS5 Government Office Region,Responded to Cohort Member Interview,Responded to What Do You Think Questionnaire,Responded to Your Life Since 1974 Questionnaire,Time of Interview (mins),"CMI:2,A1a) Current main economic activity",...,DV:Does respondent have child(ren)?,"DV:Sex, Partnership and Children",DV:Highest qual gained at age 33,DV:Highest qual gained at age 23,DV:Possession of Verbal Skills,DV:Possession of Construction Skills,DV:Possession of Keyboard Skills,DV:Possession of Caring Skills,DV:Possession of Organisational Skills,DV:Housing tenure in 1991
1,N10001N,1,2,6,9,1,1,1,0,2,...,1,2,2,2,3.5,3,3,2.66666666666667,3.4,2
2,N10002P,1,1,5,8,1,1,1,0,1,...,2,5,4,4,4,4,4,3.66666666666667,3.8,2
3,N10004R,1,2,1,2,1,1,1,0,5,...,1,2,2,2,4,3.33333333333333,1.5,3.33333333333333,3.4,3
4,N10007U,1,2,6,9,1,1,1,0,1,...,2,6,3,3,3,3,3.5,3,2.8,2

In [18]:
sweep5_filtered = sweep5[var_health]
sweep5_filtered.head()

,ncdsid,n504147,n504148,n504150,n504152,n504153,n504154,n504156,n504157,n504158,...,n504475,n504476,n504513,n504514,n504515,n504516,n504517,n504518,n504519,n504520
0,ncdsid serial number,CMI:83 F34 Any accident/assault since March 1981,CMI:83 F35 No. of accidents/assaults since Mar...,CMI:83 F36b) ACCIDENT/ASSAULT 1: Age occurred,CMI:83 F36c) ACCIDENT/ASSAULT 1: Incident type,CMI:83 F36d) ACCIDENT/ASSAULT 1: Admitted/outp...,CMI:83 F36b) ACCIDENT/ASSAULT 2: Age occurred,CMI:83 F36c) ACCIDENT/ASSAULT 2: Incident type,CMI:83 F36d) ACCIDENT/ASSAULT 2: Admitted/outp...,CMI:83 F36b) ACCIDENT/ASSAULT 3: Age occurred,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic of...,CMI:95 F75c) Additional traffic offence convic...,CMI:95 F75c) Additional traffic offence convic...,CMI:95 F75c) Additional traffic offence convic...,CMI:95 F75c) Additional traffic offence convic...,CMI:95 F75c) Additional traffic offence convic...,CMI:95 F75c) Additional traffic offence convic...
1,N10001N,2,,,,,,,,,...,,,1,2,,,,,,
2,N10002P,2,,,,,,,,,...,,,1,2,,,,,,
3,N10004R,2,,,,,,,,,...,,,1,2,,,,,,
4,N10007U,2,,,,,,,,,...,,,1,2,,,,,,

In [19]:
sweep5_filtered = sweep5_filtered.rename(columns = sweep5_filtered.iloc[0])
sweep5_filtered = sweep5_filtered[1:]
print sweep5_filtered.shape
sweep5_filtered.head()

(11469, 400)

,ncdsid serial number,CMI:83 F34 Any accident/assault since March 1981,CMI:83 F35 No. of accidents/assaults since March 1981,CMI:83 F36b) ACCIDENT/ASSAULT 1: Age occurred,CMI:83 F36c) ACCIDENT/ASSAULT 1: Incident type,CMI:83 F36d) ACCIDENT/ASSAULT 1: Admitted/outpatient,CMI:83 F36b) ACCIDENT/ASSAULT 2: Age occurred,CMI:83 F36c) ACCIDENT/ASSAULT 2: Incident type,CMI:83 F36d) ACCIDENT/ASSAULT 2: Admitted/outpatient,CMI:83 F36b) ACCIDENT/ASSAULT 3: Age occurred,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic offence (excl F73-74),CMI:95 F75c) Additional traffic offence conviction #1,CMI:95 F75c) Additional traffic offence conviction #2,CMI:95 F75c) Additional traffic offence conviction #3,CMI:95 F75c) Additional traffic offence conviction #4,CMI:95 F75c) Additional traffic offence conviction #5,CMI:95 F75c) Additional traffic offence conviction #6
1,N10001N,2,,,,,,,,,...,,,1,2,,,,,,
2,N10002P,2,,,,,,,,,...,,,1,2,,,,,,
3,N10004R,2,,,,,,,,,...,,,1,2,,,,,,
4,N10007U,2,,,,,,,,,...,,,1,2,,,,,,
5,N10009W,2,,,,,,,,,...,,,1,2,,,,,,

In [46]:
def check_nan(df, name):
    
    print len(df[name][df[name].isnull()])

In [28]:
sweep5_filtered.replace(' ',np.nan,inplace=True)

In [30]:
sweep5_filtered.head(5)

,ncdsid serial number,CMI:83 F34 Any accident/assault since March 1981,CMI:83 F35 No. of accidents/assaults since March 1981,CMI:83 F36b) ACCIDENT/ASSAULT 1: Age occurred,CMI:83 F36c) ACCIDENT/ASSAULT 1: Incident type,CMI:83 F36d) ACCIDENT/ASSAULT 1: Admitted/outpatient,CMI:83 F36b) ACCIDENT/ASSAULT 2: Age occurred,CMI:83 F36c) ACCIDENT/ASSAULT 2: Incident type,CMI:83 F36d) ACCIDENT/ASSAULT 2: Admitted/outpatient,CMI:83 F36b) ACCIDENT/ASSAULT 3: Age occurred,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic offence (excl F73-74),CMI:95 F75c) Additional traffic offence conviction #1,CMI:95 F75c) Additional traffic offence conviction #2,CMI:95 F75c) Additional traffic offence conviction #3,CMI:95 F75c) Additional traffic offence conviction #4,CMI:95 F75c) Additional traffic offence conviction #5,CMI:95 F75c) Additional traffic offence conviction #6
1,N10001N,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
2,N10002P,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
3,N10004R,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
4,N10007U,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
5,N10009W,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN

Merge them!!!

In [38]:
merged = pd.merge(sweep0_3_filtered,sweep5_filtered,on = "ncdsid serial number")
print merged.shape
merged.head()

(11469, 1476)

,ncdsid serial number,1P Child 8 years-old at NCDS1 Parental,1P Family moves since child's birth,1P Moves out of local area,1P Informant's relationship to child,"1P No. kids undr 21 hhld,inc liv away",1P Number of people in the household,"1P Child's posn hhld ,inc those away",1P Relationship person acting as mother,1P Relationship person acting as father,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic offence (excl F73-74),CMI:95 F75c) Additional traffic offence conviction #1,CMI:95 F75c) Additional traffic offence conviction #2,CMI:95 F75c) Additional traffic offence conviction #3,CMI:95 F75c) Additional traffic offence conviction #4,CMI:95 F75c) Additional traffic offence conviction #5,CMI:95 F75c) Additional traffic offence conviction #6
0,N10001N,-1,1,3,1,3,5,1,2,2,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
1,N10002P,-1,3,2,1,2,4,2,2,2,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
2,N10004R,-1,3,3,1,2,4,2,2,2,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
3,N10007U,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
4,N10009W,-1,12,2,2,2,4,1,2,2,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN

# Time to do something on the merged data!!

In [20]:
a = pd.DataFrame({"index":[1,2,"3.5",4,5,6,7],"a":[2,2,3,4,5,6,7]})
a["index"] =  pd.to_numeric(a.iloc[:,1],errors='coerce')
a

   a  index
0  2    1.0
1  2    2.0
2  3    3.5
3  4    4.0
4  5    5.0
5  6    6.0
6  7    7.0

In [39]:
merged.drop("ncdsid serial number",1,inplace = True) 
print merged.shape
merged.head()

(11469, 1475)

,1P Child 8 years-old at NCDS1 Parental,1P Family moves since child's birth,1P Moves out of local area,1P Informant's relationship to child,"1P No. kids undr 21 hhld,inc liv away",1P Number of people in the household,"1P Child's posn hhld ,inc those away",1P Relationship person acting as mother,1P Relationship person acting as father,1PD Parental sit of illegitimate kids,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic offence (excl F73-74),CMI:95 F75c) Additional traffic offence conviction #1,CMI:95 F75c) Additional traffic offence conviction #2,CMI:95 F75c) Additional traffic offence conviction #3,CMI:95 F75c) Additional traffic offence conviction #4,CMI:95 F75c) Additional traffic offence conviction #5,CMI:95 F75c) Additional traffic offence conviction #6
0,-1,1,3,1,3,5,1,2,2,-1,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
1,-1,3,2,1,2,4,2,2,2,-1,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
2,-1,3,3,1,2,4,2,2,2,-1,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN
4,-1,12,2,2,2,4,1,2,2,-1,...,NaN,NaN,1,2,NaN,NaN,NaN,NaN,NaN,NaN

Now, convert all the data to numeric (now they are all object) and replace negetive values with NaN as well!

In [40]:
#convert all the predictors to numeric
def to_numeric(df):
    for index,column in enumerate(df.columns):
        temp = pd.to_numeric(df.iloc[:,index],errors='coerce')
        temp[temp < 0] = np.NaN
        df[column] = temp
    return df

merged = to_numeric(merged)
merged["CMI:75 F3a) Epilepsy: Ever suffered"].unique()

array([  3.,   1.,  nan,   2.])

In [41]:

print "number of nan in reponse: ",check_nan(merged,"CMI:75 F3a) Epilepsy: Ever suffered")

number of nan in reponse:  143

In [69]:
#delete rows with nan in response varialbe!!!!! Important!
merged_complete = merged.dropna(subset = ["CMI:75 F3a) Epilepsy: Ever suffered"])

In [70]:
print merged_complete.shape
merged_complete.head(10)

(11326, 1475)

,1P Child 8 years-old at NCDS1 Parental,1P Family moves since child's birth,1P Moves out of local area,1P Informant's relationship to child,"1P No. kids undr 21 hhld,inc liv away",1P Number of people in the household,"1P Child's posn hhld ,inc those away",1P Relationship person acting as mother,1P Relationship person acting as father,1PD Parental sit of illegitimate kids,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic offence (excl F73-74),CMI:95 F75c) Additional traffic offence conviction #1,CMI:95 F75c) Additional traffic offence conviction #2,CMI:95 F75c) Additional traffic offence conviction #3,CMI:95 F75c) Additional traffic offence conviction #4,CMI:95 F75c) Additional traffic offence conviction #5,CMI:95 F75c) Additional traffic offence conviction #6
0,NaN,1.0,3.0,1.0,3.0,5.0,1.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,3.0,2.0,1.0,2.0,4.0,2.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3.0,3.0,1.0,2.0,4.0,2.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,12.0,2.0,2.0,2.0,4.0,1.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
5,1.0,0.0,1.0,1.0,8.0,NaN,6.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,0.0,1.0,1.0,4.0,6.0,3.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,0.0,1.0,1.0,6.0,8.0,4.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,2.0,2.0,1.0,2.0,4.0,1.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1.0,3.0,1.0,4.0,6.0,1.0,2.0,2.0,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
mid = df['Mid']
df.drop(labels=['Mid'], axis=1,inplace = True)
df.insert(0, 'Mid', mid)

In [80]:

target = "CMI:75 F3a) Epilepsy: Ever suffered"
move = merged_complete[target]
temp = merged_complete.drop(labels=[target], axis=1)
temp.insert(0, target, move)
temp.head()

,CMI:75 F3a) Epilepsy: Ever suffered,1P Child 8 years-old at NCDS1 Parental,1P Family moves since child's birth,1P Moves out of local area,1P Informant's relationship to child,"1P No. kids undr 21 hhld,inc liv away",1P Number of people in the household,"1P Child's posn hhld ,inc those away",1P Relationship person acting as mother,1P Relationship person acting as father,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic offence (excl F73-74),CMI:95 F75c) Additional traffic offence conviction #1,CMI:95 F75c) Additional traffic offence conviction #2,CMI:95 F75c) Additional traffic offence conviction #3,CMI:95 F75c) Additional traffic offence conviction #4,CMI:95 F75c) Additional traffic offence conviction #5,CMI:95 F75c) Additional traffic offence conviction #6
0,3.0,NaN,1.0,3.0,1.0,3.0,5.0,1.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,NaN,3.0,2.0,1.0,2.0,4.0,2.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,3.0,3.0,1.0,2.0,4.0,2.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,12.0,2.0,2.0,2.0,4.0,1.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
temp2 = temp[temp[target] != 2]
print temp2.shape
temp2.head()

(11304, 1475)

,CMI:75 F3a) Epilepsy: Ever suffered,1P Child 8 years-old at NCDS1 Parental,1P Family moves since child's birth,1P Moves out of local area,1P Informant's relationship to child,"1P No. kids undr 21 hhld,inc liv away",1P Number of people in the household,"1P Child's posn hhld ,inc those away",1P Relationship person acting as mother,1P Relationship person acting as father,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic offence (excl F73-74),CMI:95 F75c) Additional traffic offence conviction #1,CMI:95 F75c) Additional traffic offence conviction #2,CMI:95 F75c) Additional traffic offence conviction #3,CMI:95 F75c) Additional traffic offence conviction #4,CMI:95 F75c) Additional traffic offence conviction #5,CMI:95 F75c) Additional traffic offence conviction #6
0,3.0,NaN,1.0,3.0,1.0,3.0,5.0,1.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,NaN,3.0,2.0,1.0,2.0,4.0,2.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,3.0,3.0,1.0,2.0,4.0,2.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,12.0,2.0,2.0,2.0,4.0,1.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
temp.to_csv("clean_data.csv",sep=",",index_label=False)

In [62]:
#move the response to last place
target = "CMI:75 F3a) Epilepsy: Ever suffered"
cols = merged_complete.columns.tolist()
cols.insert(0, cols.pop(cols.index(target)))
data = merged_complete[cols]
data.head(5)

,CMI:75 F3a) Epilepsy: Ever suffered,1P Child 8 years-old at NCDS1 Parental,1P Family moves since child's birth,1P Moves out of local area,1P Informant's relationship to child,"1P No. kids undr 21 hhld,inc liv away",1P Number of people in the household,"1P Child's posn hhld ,inc those away",1P Relationship person acting as mother,1P Relationship person acting as father,...,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #5,CMI:94 F74d) ROAD TRAFFIC ACCIDENT 4: Offence #6,CMI:95 F75a) CHECK: F64 - Has driving licence,CMI:95 F75b) Ever been convicted of traffic offence (excl F73-74),CMI:95 F75c) Additional traffic offence conviction #1,CMI:95 F75c) Additional traffic offence conviction #2,CMI:95 F75c) Additional traffic offence conviction #3,CMI:95 F75c) Additional traffic offence conviction #4,CMI:95 F75c) Additional traffic offence conviction #5,CMI:95 F75c) Additional traffic offence conviction #6
0,3.0,NaN,1.0,3.0,1.0,3.0,5.0,1.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,NaN,3.0,2.0,1.0,2.0,4.0,2.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,3.0,3.0,1.0,2.0,4.0,2.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
4,3.0,NaN,12.0,2.0,2.0,2.0,4.0,1.0,2.0,2.0,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
for name in merged_complete.columns:
    check_nan(merged_complete,name)

10987
1527
1437
1359
1417
1752
1411
1367
1369
11020
1425
1449
1430
1417
1551
1445
1406
1412
1406
1412
1411
1408
1409
1411
1411
1406
1418
1416
1412
1415
1415
1417
1413
1416
1414
1374
11148
11149
11148
11148
1411
1420
1417
1416
1416
1416
1418
1416
1419
1419
1422
1425
1430
1418
1417
1426
1336
1567
1423
1438
1424
1432
1427
1423
1430
1444
1435
1465
10556
11109
11216
9758
3187
1453
1534
1483
971
1426
971
1437
1439
1459
1434
1442
1491
1424
1426
1428
1411
1455
1401
1402
1412
1407
1459
1482
1424
1438
1479
1678
1407
1404
1405
1415
1428
1420
1422
1427
1421
1419
1428
1443
1477
1438
1417
1433
1430
1450
1425
1440
1451
1472
1454
1441
1440
1438
1441
1438
1440
1441
1440
1448
1449
1444
1444
1444
1450
1447
1446
1443
1445
1464
1438
1439
1441
1444
1439
1448
1445
1444
1431
1453
1433
1445
1435
1424
1430
1431
1441
1440
1442
1441
1439
1459
1451
1424
1426
1440
1430
1424
1432
1429
1428
1430
1433
1432
1429
1427
1521
1428
1433
1437
1432
1431
1428
1428
1429
1431
1432
1435
1434
1479
1416
1429
11212
1802
1465
1500
1719
1730
1562
1713
1715
1726
1712
1714
1722
1713
1712
1712
1720
1713
1725
1714
1717
1718
1728
1760
1731
1730
1743
1715
1695
1725
1758
1728
1719
1721
1721
1718
1713
1796
1732
1715
1731
1733
11326
11326
11326
11326
1696
1715
1657
1770
1768
1625
1715
971
971
1698
1704
1718
1711
1723
1728
1722
1724
1728
1723
1723
1724
1725
1726
1728
1723
1727
1722
1726
1727
1752
1804
1511
1484
10664
971
971
971
11077
971
971
11016
971
971
11181
971
3674
3525
3505
3525
3512
3596
3682
3524
3505
3522
3511
3599
10920
971
1254
971
1301
1672
1672
1703
817
1708
1714
1717
1720
1716
1679
11111
10989
1679
10680
10674
1769
1825
2052
1708
10055
1874
11275
9971
11044
1843
10736
11006
9679
817
817
11140
1711
10477
3526
1714
817
2081
1716
1784
1733
1705
1755
1725
817
1738
817
1740
817
1716
817
1717
1714
1715
1722
817
817
817
817
817
2061
817
817
817
6456
4615
1714
7631
817
817
817
817
1883
10215
1799
817
817
10841
10839
1816
817
817
817
817
9305
817
1771
1814
1810
1797
1787
1811
1809
1816
1802
1803
1813
1832
1770
9438
2071
11062
6094
10838
1880
11128
1862
11063
1787
1831
1806
1831
1830
1835
1837
1807
1724
1786
7531
1727
2698
817
817
3002
817
3274
817
3391
817
10683
11281
11284
10680
817
10639
11259
11297
10637
817
11143
11283
11320
11143
817
10927
11317
11237
10922
817
817
1718
1717
1722
2568
1880
2681
1939
10747
10698
1842
1717
1729
1716
1712
1715
1721
1718
1719
1716
1719
1733
1715
1720
1710
1712
1707
1708
1746
1749
1782
1755
1852
1758
1755
1803
2107
1745
1825
2137
1812
1704
1713
1708
1701
1845
1763
1699
2333
1789
1710
1714
1705
2397
817
817
817
817
817
1988
10585
1911
1887
817
817
817
817
2299
3016
4436
2394
2544
2226
2113
1960
1931
1748
5492
5517
5468
5493
5458
5703
6082
5935
1815
1773
11132
11137
817
11193
817
11048
817
11120
817
11175
817
2140
2139
2245
2357
2805
2390
2374
11123
817
817
2285
2314
2296
2317
2300
2304
2296
2301
817
2297
817
2290
2297
817
817
2302
817
2296
2287
2286
2325
817
817
2402
2404
2341
817
2317
817
2322
817
2323
817
2256
2371
2359
2445
2344
817
817
2345
817
2344
817
2355
817
2340
817
817
6982
6911
6922
6749
6758
2340
817
817
2337
817
817
7750
817
817
817
2398
2394
2579
2848
2435
2326
2314
2535
2536
4126
2329
2330
2568
2568
2390
817
10234
817
2657
2345
2328
2319
2324
2435
2433
2335
2334
2348
2353
2345
2867
2720
2712
2627
2625
2625
2625
2625
2631
2627
2625
2625
2625
2625
2634
1616
2887
2887
2887
2967
2918
2887
2917
2917
2917
2917
2988
3009
3009
3023
2887
11047
11157
2889
10557
11010
3069
1086
3228
1086
2911
3568
3515
4014
5123
3027
5837
5838
3165
3045
2918
1086
3175
3515
2916
2914
9607
1086
1086
2937
2926
4060
4662
3064
2944
11143
2914
9106
1086
1086
2960
2923
2940
5516
1086
1086
1086
1086
9297
1086
1086
1086
1086
6254
10909
1086
3485
1086
1086
3006
2944
2947
1086
1086
1086
1086
1086
1086
1086
1086
1086
6964
7381
7036
9502
10323
9823
9550
1086
3121
2915
2912
2996
4777
2940
2973
2941
2919
3010
2978
2990
2990
2915
2927
1086
1086
1086
1086
1086
1086
2921
2969
2927
2946
2930
2936
2946
2991
2959
2966
2930
2941
2955
2933
2966
2952
2906
3042
2912
2921
10197
1086
2926
10624
1086
1086
2916
2921
2919
2924
2931
2919
2919
2930
2923
2925
2932
2921
2918
2929
2927
2918
2920
2918
2995
2938
10672
10715
2927
7682
1086
1086
1086
1086
1086
3239
1086
1086
1086
1086
1086
9643
2993
7729
10043
10836
11118
7725
1086
1086
1086
10026
1086
10824
1086
11112
1086
7748
10037
10830
11111
3275
9160
10227
10450
10409
10463
10581
10715
1086
8829
1086
1086
1086
3563
9017
1086
1086
1086
1086
1086
3004
1086
1086
2976
2982
2991
11005
11063
3076
10384
1086
1086
10388
10437
11043
3157
2948
10741
1086
1086
10735
11253
3040
1086
1086
1086
3356
1086
1086
3239
1086
1086
1086
1086
3017
1086
1086
3262
3144
7033
7239
3114
9953
1086
1086
10833
10833
10713
10714
11207
11207
11086
11086
3390
10792
1086
1086
1086
1086
3102
4482
2949
2949
2949
2993
3044
1086
3046
11202
1086
1086
11218
11230
11200
3024
3572
3086
2983
10895
3019
9845
3058
10380
2974
6080
1086
1086
1086
1086
1086
1086
3164
3402
3408
10913
3141
3498
9936
3053
3056
10343
10345
3092
3093
10368
10369
3438
1086
1086
1086
3225
3491
3513
3219
3641
3065
3074
3265
3298
3133
1086
1086
1086
3114
1086
7149
10849
11296
3179
3179
3189
3199
3230
3192
3216
11326
3115
7299
7296
7287
7357
7698
7130
7133
7142
3113
3149
3181
3388
3400
3191
10709
3114
3157
3177
3150
3163
3184
3156
3161
3158
3160
3157
3171
3161
3272
3162
3164
3175
3214
3167
3222
3181
11326
3524
3591
3581
3585
3713
3595
3652
3959
4047
4159
3715
3592
3680
3990
4048
4151
1999
2242
2011
33
6825
6714
6674
6713
9416
9389
9408
10520
10489
10498
10936
10906
10911
11094
11076
11082
11189
11176
11182
6712
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
49
6163
6012
6016
0
0
5987
7
2
2
0
1
0
0
0
0
0
0
0
0
0
0
0
0
7
5
14
11
18
7
0
0
0
0
26
8716
26
10144
39
9987
35
10936
45
2409
9740
97
1474
1605
1958
3139
10138
10264
3341
11214
11222
3299
0
10959
1660
1963
1458
9543
10894
11224
11299
2001
1794
0
1875
110
10632
11300
11324
50
5111
5117
10380
11119
11273
11303
11318
11322
5784
9810
9825
9793
10853
10857
10836
10992
10995
10972
11264
11271
11244
11239
11243
11221
11214
11221
11193
11195
11198
11181
10387
10400
10369
185
2225
41
2512
31
9135
97
98
4
9572
10009
4
9980
10879
12
11152
11234
11
8976
0
5
9090
9698
0
11096
11241
2
11039
11201
13
10927
11203
3
9331
9909
8
10527
10968
25
11087
11240
16
9339
9807
13
10496
10880
9
10638
10798
24
10496
10734
87
11068
5599
10281
10495
5601
10354
10721
23
7835
7847
10040
10800
11096
11199
11238
11273
11286
11296
11298
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
1190
11326
11326
11326
1190
1190
1190
1190
1190
1190
1190
1190
1190
11326
11326
11326
1190
1190
1190
19
9558
9589
11052
11056
11271
11271
11316
11317
9555
11166
11305
11326
9608
9628
9539
10043
25
1190
1190
1190
1190
1190
1190
1190
1190
10780
11275
11317
11322
4
8641
8662
20
199
354
9543
26
82
258
10116
112
78
14
8074
9350
19
177
8406
8413
8408
11277
21
7598
3609
9143
9142
23
8174
8681
219
45
45
65
40
42
44
39
41
39
40
46
38
36
35
38
38
36
44
37
41
44
38
39
40
17
10228
0
10254
10520
10777
11235
11320
11324
11325
11326
11326
0
11196
11227
11268
11320
11325
11325
11325
11326
11326
0
11302
11310
11314
11326
11326
11326
11326
11326
11326
0
11317
11319
11322
11324
11323
11326
11325
11323
11326
78
1608
10197
11132
11282
11314
11320
11324

In [153]:
#if df[column].unique()<15, dummify it
def get_dummy(df,stand = False):
    
    #copy dataframes
    data = df.copy()
    
    #Create a new data frame 
    x = pd.DataFrame({}) 
    predictor_list = []

    # Iterate over variables
    for i,column in enumerate(data.columns.values):
        #delete some errors
        if data[column].shape == (11326,):
            if (len(data[column].unique()) < 15) and column != "CMI:75 F3a) Epilepsy: Ever suffered":
                #dummify categorical predictors
                encoding = pd.get_dummies(data[column])

                #get dummified predictors column names and store them
                temp = []
                names = encoding.columns.values
                for i in range(len(names)):
                    temp.append(column + "_" + str(names[i]))


                # append expanded attribute to data frame
                encoding.columns = temp
                x = pd.concat([x, encoding], axis=1)

            else:
                #if contrain nan, replace with mean in the data
                data[column].fillna(data[column].mean(), inplace=True)

                #standardize 
                if stand:
                    mean = data[column].mean()
                    std = data[column].std()
                    data[column] = (data[column] - mean)/std

                x = pd.concat([x, data[column]], axis=1)
        else:  print "error"    
            
            
    #if predictors contain info related to epilepsy, delete it
    for name in x.columns.values:
        if "epilep" in name and name != "CMI:75 F3a) Epilepsy: Ever suffered":
            x.drop(name, axis=1, inplace=True)
    
    predictor_list = x.columns.values 

    print x.shape
    print "number of variables: ",len(predictor_list)
    return x

In [154]:
merged_final = get_dummy(merged_complete,stand=True)

error
error
error
error
error
error
error
error
error
error
error
error
(11326, 6234)
number of variables:  6234

In [155]:
merged_final.head(5)

,1P Child 8 years-old at NCDS1 Parental_1.0,1P Family moves since child's birth,1P Moves out of local area_1.0,1P Moves out of local area_2.0,1P Moves out of local area_3.0,1P Informant's relationship to child_1.0,1P Informant's relationship to child_2.0,1P Informant's relationship to child_3.0,1P Informant's relationship to child_4.0,"1P No. kids undr 21 hhld,inc liv away",...,CMI:95 F75c) Additional traffic offence conviction #3_6.0,CMI:95 F75c) Additional traffic offence conviction #4_2.0,CMI:95 F75c) Additional traffic offence conviction #4_4.0,CMI:95 F75c) Additional traffic offence conviction #4_5.0,CMI:95 F75c) Additional traffic offence conviction #4_6.0,CMI:95 F75c) Additional traffic offence conviction #5_1.0,CMI:95 F75c) Additional traffic offence conviction #5_5.0,CMI:95 F75c) Additional traffic offence conviction #5_6.0,CMI:95 F75c) Additional traffic offence conviction #6_2.0,CMI:95 F75c) Additional traffic offence conviction #6_6.0
0,0.0,-0.104884,0.0,0.0,1.0,1.0,0.0,0.0,0.0,-0.020743,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.276515,0.0,1.0,0.0,1.0,0.0,0.0,0.0,-0.659082,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.276515,0.0,0.0,1.0,1.0,0.0,0.0,0.0,-0.659082,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,7.492811,0.0,1.0,0.0,0.0,1.0,0.0,0.0,-0.659082,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Cleaned data

### 1. The next step is to maybe dummify the categorical predictors. May be check df[column].unique()

The value of a categorical predictors can be negtive, e.g.

>Pos. = 68	Variable = n97	Variable label = 1P Moves out of local area

>This variable is  numeric, the SPSS measurement level is ORDINAL

>SPSS user missing values = -1.0 thru None

	>Value label information for n97
    
	>Value = 1.0	Label = DK,Inapplicable
    
	>Value = 2.0	Label = Yes
    
	>Value = 3.0	Label = No

	>**Value = -1.0  Label = NA**
    
**Notice the last line, values = -1, in the dataset, I have already converted all the negtive values to nan.** 

- if >15 (I have seen the discriptions and find this general rule, but there are exceptions, you are free to change the threshold), numeric; if < 15, dummify. May be delete NaN columns after dummifying. Or fill in the most frequent category.

### 2. There are several things coming to me mind:

- If doing logistic regression with L2/L1 penalty, you can both try standardize it or not. It would be better if you standardize it (may be use scikit learn processing.standardize(with_mean = True,with_std = True)). Then find the predictors with highest postive coefficients and corresponding to the variable names!  
- If do decision trees to find important variable, try visualize the top variables!

In [23]:
#predictors 
x = merged.drop("CMI:75 F3a) Epilepsy: Ever suffered",1,inplace = False).values

#labels for all predictors
labels = merged.drop("CMI:75 F3a) Epilepsy: Ever suffered",1,inplace = False).columns

#classification 
y = merged["CMI:75 F3a) Epilepsy: Ever suffered"].values
y[y != 1] = 0

In [24]:
print "Number of epilepsy patients: ", y.sum()

Number of epilepsy patients:  141.0

In [28]:
# x = merged.drop("CMI:75 F3a) Epilepsy: Ever suffered",1,inplace = False)
# x.to_csv('x_cleaned_data.csv')
# np.savetxt("y_cleaned_data.csv", y, delimiter=",")